/* Target all code blocks and nested highlight elements */
pre, code, pre code, .highlight, .highlight * {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
  font-size: 0.95rem !important;
  font-weight: normal !important;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: none;
  letter-spacing: normal !important;
}